<h1>{{title}}</h1>
<!-- <form action="" #formId="ngForm" (ngSubmit)="onSubmit(formId)">
  <label for="">
    email
    <input type="text" name="email" [(ngModel)]="email">
  </label>
  <label for="">
    password
    <input type="text" name="password" [(ngModel)]="password">
  </label>
  <button type="submit">submit</button>
</form>
<input type="text" name="username" [(ngModel)]="username" (ngModelChange)="onUserName($event)">
{{email}}
{{password}} -->
<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="email">Email: </label>
  <input id="email" type="email" formControlName="email">

  <label for="password">Password: </label>
  <input id="password" type="password" formControlName="password">

  <button type="submit" [disabled] ="!loginForm.valid">submit</button>
</form>
<p>{{loginForm.status}}</p>